In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Data/Reviews.csv')

In [3]:
data.shape

(668055, 2)

In [4]:
data.head()

                                              Review  Topic
0  nice hotel expensive parking got good deal sta...  Hotel
1  ok nothing special charge diamond member hilto...  Hotel
2  nice rooms not 4* experience hotel monaco seat...  Hotel
3  unique, great stay, wonderful time hotel monac...  Hotel
4  great stay great stay, went seahawk game aweso...  Hotel

In [5]:
data['Review'].str.split(' ').apply(len)

0          89
1         252
2         219
3          91
4         193
         ...
668050    248
668051     47
668052      2
668053      6
668054      2
Name: Review, Length: 668055, dtype: int64

In [6]:
count=0
for x in data['Review'].str.split(' ').apply(len):
    if x<100:
        count=count+1
print(count)

469557

In [7]:
Hotel=data[data["Topic"]=='Hotel']

In [8]:
Hotel.head()

                                              Review  Topic
0  nice hotel expensive parking got good deal sta...  Hotel
1  ok nothing special charge diamond member hilto...  Hotel
2  nice rooms not 4* experience hotel monaco seat...  Hotel
3  unique, great stay, wonderful time hotel monac...  Hotel
4  great stay great stay, went seahawk game aweso...  Hotel

In [26]:
hotel_final=Hotel[Hotel['Review'].apply(lambda x: len(x.split(' ')) > 140)]

In [27]:
hotel_final.head()

                                               Review  Topic
1   ok nothing special charge diamond member hilto...  Hotel
2   nice rooms not 4* experience hotel monaco seat...  Hotel
4   great stay great stay, went seahawk game aweso...  Hotel
15  horrible customer service hotel stay february ...  Hotel
16  disappointed say anticipating stay hotel monac...  Hotel

In [28]:
hotel_final.shape

(4211, 2)

In [15]:
elec=data[data["Topic"]=='Electronics']

In [21]:
elec_final=elec[elec['Review'].apply(lambda x: len(x.split(' ')) > 100)]
elec_final.shape

(3793, 2)

In [29]:
Food=data[data["Topic"]=='Food']

In [30]:
food=Food[Food['Review'].apply(lambda x: len(x.split(' ')) > 100)]
food.shape

(140951, 2)

In [31]:
final_food=food.sample(n=4000,random_state=1)

In [32]:
final_food.shape

(4000, 2)

In [33]:
movie=data[data["Topic"]=='Movies']

In [34]:
movies=movie[movie['Review'].apply(lambda x: len(x.split(' ')) > 100)]
movies.shape

(43879, 2)

In [35]:
final_movies=movies.sample(n=4000,random_state=1)
final_movies.shape

(4000, 2)

In [36]:
final_data=pd.concat([final_food,final_movies,elec_final,hotel_final])

In [37]:
final_data.head()

                                                   Review Topic
284697  What first caught my attention of these bars w...  Food
517424  Let me first tell you that before I was turned...  Food
161500  I find this Peach Green Tea to be the BEST and...  Food
336936  My husband and I are not big coffee drinkers. ...  Food
576398  I recently bought a 50 pack of the Tully's Ita...  Food

In [38]:
final_data.shape

(16004, 2)

In [154]:
final_data['Topic'].value_counts()

Food           16000
Movies         16000
Hotel          13382
Electronics     9258
Name: Topic, dtype: int64

In [39]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [40]:
final_data['Review']=final_data['Review'].apply(remove_html_tags)

In [41]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [42]:
final_data['Review']=final_data['Review'].apply(remove_url)

In [43]:
final_data.to_csv('final_data.csv',index=False)