In [1]:
import pandas as pd
t5 = pd.read_csv('datatest3.csv')
bert = pd.read_csv('reviews_with_bert_summaries.csv')
bart = pd.read_csv('reviews_with_bart_summaries.csv')

In [3]:
t5.head(10)

,Unnamed: 0,Review,Topic,Summaries
0,0,What first caught my attention of these bars w...,Food,<pad> a vegan and soy free bar was a nice chan...
1,1,Let me first tell you that before I was turned...,Food,<pad> i found the caramel missing an element -...
2,2,I find this Peach Green Tea to be the BEST and...,Food,<pad> peach green tea is the BEST and I do not...
3,3,My husband and I are not big coffee drinkers. ...,Food,<pad> cnn.com's ireport boot camp challenges i...
4,4,I recently bought a 50 pack of the Tully's Ita...,Food,<pad> the Tully's Italian Roast K-cups are ava...
5,5,"When I opened the box of these tea bags, I was...",Food,<pad> i sincerely will purchase several of the...
6,6,I stumbled across these bars at an industry tr...,Food,<pad> my picky 10 year old son tried the Cooki...
7,7,I purchased this order so that I could make ho...,Food,<pad> jars of organic coconut oil were sent to...
8,8,I have been drinking Taster's Choice instant f...,Food,<pad> taster's choice instant flavored coffee ...
9,9,I picked up a box of this tea at my local Cost...,Food,<pad> my DR recommended that I switch from cof...

In [4]:
t5['Summaries'] = t5['Summaries'].str.replace("<pad>","")

In [5]:
t5['Summaries'][0]

" a vegan and soy free bar was a nice change of pace. the taste was just so not what i expected. the nutrition is there, but the flavor is not. if you can't find it at a store near you, dont worry because you are not missing anything.</s>"

In [42]:
t5_rogue = pd.DataFrame(columns=['Reviews','Human Summary','Machine Summary'])

In [7]:
bert_rogue = pd.DataFrame(columns=['Reviews','Human Summary','Machine Summary'])

In [8]:
bart_rogue = pd.DataFrame(columns=['Reviews','Human Summary','Machine Summary'])

In [ ]:
t5_rogue.head()

In [11]:
electronics = pd.read_csv('electronics.csv')
food_df = pd.read_csv('food_df.csv')
movies = pd.read_csv('movie_df_humansum.csv',encoding='latin1')

In [35]:
electronics.head()

,Original summaries,Human Summaries
0,Original Review: This cable does the job but b...,This cable does the job and is sturdy but is t...
1,At the time of writing this review (9-9-2014) ...,I have been using this KVM that I purchased on...
2,I never thought to check what keys are and are...,I never had to check the keys on the keyboard ...
3,Several things I like about this helmet. 1. C...,"I like the color of this helmet, the easy ratc..."
4,"I was not very impressed with these books, tho...",I was not impressed with these books although ...

In [43]:
count = 0
for index,row in food_df.iterrows():
  string = row['Review']
  index = t5.index[t5['Review']==string].tolist()
  if len(index) == 0:
    continue
  t5_rogue.loc[count,'Reviews'] = string
  t5_rogue.loc[count,'Human Summary'] = row['Human_summary']
  summary = t5.loc[index[0],'Summaries']
  t5_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [44]:
count

25

In [45]:
count = 26
for index,row in movies.iterrows():
  string = row['Review']
  index = t5.index[t5['Review']==string].tolist()
  if len(index) == 0:
    continue
  t5_rogue.loc[count,'Reviews'] = string
  t5_rogue.loc[count,'Human Summary'] = row['Gold Summary']
  summary = t5.loc[index[0],'Summaries']
  t5_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [51]:
electronics.head()

,Original summaries,Human Summaries
0,Original Review: This cable does the job but b...,This cable does the job and is sturdy but is t...
1,At the time of writing this review (9-9-2014) ...,I have been using this KVM that I purchased on...
2,I never thought to check what keys are and are...,I never had to check the keys on the keyboard ...
3,Several things I like about this helmet. 1. C...,"I like the color of this helmet, the easy ratc..."
4,"I was not very impressed with these books, tho...",I was not impressed with these books although ...

In [60]:
electronics = electronics.rename(columns={'Original summaries': 'Review', 'Human Summaries': 'Summary'})

In [96]:
electronics.head()

,Original summaries,Summary
0,Original Review: This cable does the job but b...,This cable does the job and is sturdy but is t...
1,At the time of writing this review (9-9-2014) ...,I have been using this KVM that I purchased on...
2,I never thought to check what keys are and are...,I never had to check the keys on the keyboard ...
3,Several things I like about this helmet. 1. C...,"I like the color of this helmet, the easy ratc..."
4,"I was not very impressed with these books, tho...",I was not impressed with these books although ...

In [97]:
count = 75
for index,row in electronics.iterrows():
  string = row['Original summaries ']
  index = t5.index[t5['Review']==string].tolist()
  if len(index) == 0:
    continue
  t5_rogue.loc[count,'Reviews'] = string
  t5_rogue.loc[count,'Human Summary'] = row['Summary']
  summary = t5.loc[index[0],'Summaries']
  t5_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [ ]:
t5_rogue

In [66]:
bart_human = pd.read_csv('bart_human_summaries.csv')
bert_human = pd.read_csv('bert_human_summaries.csv')

In [ ]:
bart_human.head()

In [70]:
count = 51
for index,row in bart_human.iterrows():
  string = row['Review']
  index = t5.index[t5['Review']==string].tolist()
  if len(index) == 0:
    continue
  t5_rogue.loc[count,'Reviews'] = string
  t5_rogue.loc[count,'Human Summary'] = row['Human_Summary']
  summary = t5.loc[index[0],'Summaries']
  t5_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [74]:
bart.head()

,Review,Summary,Topic
0,What first caught my attention of these bars w...,This is the first time I have tried a date bar...,Food
1,Let me first tell you that before I was turned...,I recently got my hands on a tin of Caramel Gr...,Food
2,I find this Peach Green Tea to be the BEST and...,Bigelow's Peach Green Tea is one of the best t...,Food
3,My husband and I are not big coffee drinkers. ...,Coffee is one of my favourite things to drink ...,Food
4,I recently bought a 50 pack of the Tully's Ita...,The Tully's Italian Roast K-cups are a great w...,Food

In [75]:
bart_rogue

Empty DataFrame
Columns: [Reviews, Human Summary, Machine Summary]
Index: []

In [76]:
count = 0
for index,row in bart_human.iterrows():
  string = row['Review']
  index = bart.index[bart['Review']==string].tolist()
  if len(index) == 0:
    continue
  bart_rogue.loc[count,'Reviews'] = string
  bart_rogue.loc[count,'Human Summary'] = row['Human_Summary']
  summary = bart.loc[index[0],'Summary']
  bart_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [77]:
count

25

In [79]:
count = 26
for index,row in food_df.iterrows():
  string = row['Review']
  index = bart.index[bart['Review']==string].tolist()
  if len(index) == 0:
    continue
  bart_rogue.loc[count,'Reviews'] = string
  bart_rogue.loc[count,'Human Summary'] = row['Human_summary']
  summary = bart.loc[index[0],'Summary']
  bart_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [88]:
count = 52
for index,row in movies.iterrows():
  string = row['Review']
  index = bart.index[bart['Review']==string].tolist()
  if len(index) == 0:
    continue
  bart_rogue.loc[count,'Reviews'] = string
  bart_rogue.loc[count,'Human Summary'] = row['Gold Summary']
  summary = bart.loc[index[0],'Summary']
  bart_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [100]:
count = 75
for index,row in electronics.iterrows():
  string = row['Original summaries ']
  index = bart.index[bart['Review']==string].tolist()
  if len(index) == 0:
    continue
  bart_rogue.loc[count,'Reviews'] = string
  bart_rogue.loc[count,'Human Summary'] = row['Summary']
  summary = bart.loc[index[0],'Summary']
  bart_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [101]:
bert_rogue

Empty DataFrame
Columns: [Reviews, Human Summary, Machine Summary]
Index: []

In [102]:
bert.head()

,Review,Summary,Topic
0,What first caught my attention of these bars w...,What first caught my attention of these bars w...,Food
1,Let me first tell you that before I was turned...,"Without it, you risk the chance of having clum...",Food
2,I find this Peach Green Tea to be the BEST and...,I find this Peach Green Tea to be the BEST and...,Food
3,My husband and I are not big coffee drinkers. ...,We are both watching our weight and find this ...,Food
4,I recently bought a 50 pack of the Tully's Ita...,"My recommendation, buy this and enjoy great ta...",Food

In [103]:
count = 0
for index,row in electronics.iterrows():
  string = row['Original summaries ']
  index = bert.index[bert['Review']==string].tolist()
  if len(index) == 0:
    continue
  bert_rogue.loc[count,'Reviews'] = string
  bert_rogue.loc[count,'Human Summary'] = row['Summary']
  summary = bert.loc[index[0],'Summary']
  bert_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [107]:
count = 25
for index,row in food_df.iterrows():
  string = row['Review']
  index = bert.index[bert['Review']==string].tolist()
  if len(index) == 0:
    continue
  bert_rogue.loc[count,'Reviews'] = string
  bert_rogue.loc[count,'Human Summary'] = row['Human_summary']
  summary = bert.loc[index[0],'Summary']
  bert_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [109]:
count

50

In [110]:
count = 50
for index,row in movies.iterrows():
  string = row['Review']
  index = bert.index[bert['Review']==string].tolist()
  if len(index) == 0:
    continue
  bert_rogue.loc[count,'Reviews'] = string
  bert_rogue.loc[count,'Human Summary'] = row['Gold Summary']
  summary = bert.loc[index[0],'Summary']
  bert_rogue.loc[count,'Machine Summary'] = summary
  count = count+1

In [112]:
pip install rouge

Collecting rouge
  Downloading rouge-1.0.1-py3-none-any.whl (13 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from rouge) (1.15.0)
Installing collected packages: rouge
Successfully installed rouge-1.0.1

In [113]:
from rouge import Rouge

In [114]:
model_out = "the siege lasted from 250 to 241 bc, the romans laid siege to lilybaeum"

reference = "the siege of lilybaeum lasted from 250 to 241 bc, as the roman army laid siege to the carthaginian-held sicilian city of lilybaeum"

In [115]:
rouge = Rouge()

In [116]:
human_summary_bert = bert_rogue['Human Summary'].to_list()
human_summary_t5 = t5_rogue['Human Summary'].to_list()
human_summary_bart = bart_rogue['Human Summary'].to_list()

In [117]:
machine_summary_t5 = t5_rogue['Machine Summary'].to_list()
machine_summary_bert = bert_rogue['Machine Summary'].to_list()
machine_summary_bart = bart_rogue['Machine Summary'].to_list()

In [ ]:
rouge.get_scores(machine_summary_t5, human_summary_t5, avg=True)

{'rouge-1': {'f': 0.3663088212412486,
  'p': 0.41181453372198884,
  'r': 0.34635416287257226},
 'rouge-2': {'f': 0.18330233883838284,
  'p': 0.2054406652320255,
  'r': 0.17538754481013888},
 'rouge-l': {'f': 0.3404522387558242,
  'p': 0.3829181451405295,
  'r': 0.3219126624880232}}

In [ ]:
rouge.get_scores(machine_summary_bart, human_summary_bart, avg=True)

{'rouge-1': {'f': 0.2347597635919895,
  'p': 0.26513854005452925,
  'r': 0.21698002459474694},
 'rouge-2': {'f': 0.04691444605836224,
  'p': 0.05385665413365294,
  'r': 0.04294830147071845},
 'rouge-l': {'f': 0.20161479554108402,
  'p': 0.2272461470409941,
  'r': 0.18665989583661324}}

In [ ]:
rouge.get_scores(machine_summary_bert, human_summary_bert, avg=True)

{'rouge-1': {'f': 0.3314272945614604,
  'p': 0.4342277437850998,
  'r': 0.2798289002252813},
 'rouge-2': {'f': 0.16893632770645786,
  'p': 0.23134724098580933,
  'r': 0.13905097752350257},
 'rouge-l': {'f': 0.31092545450203446,
  'p': 0.4082305546482405,
  'r': 0.2620980567956307}}